/*
CSS: element, id, class

selector{
	property:value;
	
}
*/

body{
	background-image: url("http://previews.123rf.com/images/dutourdumonde/dutourdumonde1304/dutourdumonde130400055/19288541-White-brick-wall-texture-or-background-Stock-Photo.jpg");
	background-repeat:repeat;
/}
