/*
CSS: element, id, class

selector{
	property:value;
	
}
*/

body{
	background-image: url("http://static.tumblr.com/e68ea79009e56d9af6735accbecc598a/zbx9zde/zaOnmu8pt/tumblr_static_7xodf8022m80gc0koock0ckgc.jpg");
	background-repeat:repeat;
}

