/*
CSS: element, id, class

selector{
	property:value;
	
}
*/

body{
	background-image: url("https://camo.githubusercontent.com/5a4eeed169d5e1786d76120e42e01d560f3bd940/687474703a2f2f70726576696577732e31323372662e636f6d2f696d616765732f6475746f757264756d6f6e64652f6475746f757264756d6f6e6465313330342f6475746f757264756d6f6e64653133303430303035352f31393238383534312d57686974652d627269636b2d77616c6c2d746578747572652d6f722d6261636b67726f756e642d53746f636b2d50686f746f2e6a7067");
	background-repeat:repeat;
}
